/* BASE FOR ROUND ICONS */
@mixin icon-base($size: 38px) {    
  cursor: pointer;
  width: 22px;
  height: 22px;
  color: #ffffff;
  background: #939393;
  opacity: 0.7;
  width: $size;
  height: $size;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: all 0.4s ease;
  svg {
    fill: currentColor;
    width: 22px;
    height: 22px;
  }
  &:hover {
    transform: scale(1.5);
    z-index: 100;
  }
}
/* BASE ICON STYLE */
@mixin icon-style($size: 22px, $baseFrontCol, $baseBackCol) {
  color: $baseFrontCol !important;
  background: $baseBackCol !important;
  & svg {
    width: $size !important;
    height: $size !important;
  }
}