---
import "../assets/css/style.scss";
import Sidebar from '../components/SidebarFoto.astro';
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Moje Astro stránka</title>
  </head>
  <body>
    <Sidebar />
    <main>
      <h1>Vítejte!</h1>
      <p>Obsah hlavní stránky...</p>
    </main>
  </body>
</html>
