---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout sidebarType="root" title="Portfolio">
  <section class="landing">
    <h1>Jindřich Ochmann</h1>
    <p>Software Engineer & Developer</p>
    <div class="landing-buttons">
      <a href="/dev">DevHub</a>
      <a href="/devbook">DevBook</a>
      <a href="/contacts">Kontakt</a>
    </div>
  </section>
</BaseLayout>
