---
import BaseLayout from '../components/BaseLayout.astro';
---

<BaseLayout>
  <h2>Vítejte na mém portfoliu!</h2>
  <p>Profil, projekty a kontakty.</p>
  <ul>
    <li><a href="/dev">DevHub</a></li>
    <li><a href="/projects">Projekty</a></li>
  </ul>
</BaseLayout>
