---

---

<aside class="searchbar">
  <div class="searchbar-container">     
    <div class="searchbar-icons">
      <a href="" id="icon-sun" class="icon-sun">
        <svg><use xlink:href="#icon-sun"></use></svg>
      </a>
      <a href="" id="icon-moon" class="icon-moon">
        <svg><use xlink:href="#icon-moon"></use></svg>
      </a>
      <a href="" class="icon-search">
        <svg><use xlink:href="#icon-search"></use></svg>
      </a>
    </div>
  </div>
</aside>