---

---
<aside class="searchbar">
  <!-- ---------- PROFILE ---------- -->
  <div class="searchbar-container">
    <div class="searchbar-img-wrapper">      
      <!-- ---------- ACTIONS ICONS ---------- -->
      <div class="searchbar-action-icons">
        <!--
        <a href="" class="icon-settings">
          <svg><use xlink:href="#icon-settings"></use></svg>
        </a>
        <a href="" class="icon-login">
          <svg><use xlink:href="#icon-login"></use></svg>
        </a>
        -->
        <a href="" class="icon-sun">
          <svg><use xlink:href="#icon-sun"></use></svg>
        </a>
        <a href="" class="icon-moon">
          <svg><use xlink:href="#icon-moon"></use></svg>
        </a>
                <a href="" class="icon-search">
          <svg><use xlink:href="#icon-search"></use></svg>
        </a>
      </div>
      
    </div>
  </div>
</aside>