---
// SidebarRoot.astro
import '../assets/css/style.scss';

// Navigační odkazy pro root
const navLinks = [
  { title: "Portfolio", url: "/" },
  { title: "DevHub", url: "/dev/" },
  { title: "Kontakt", url: "/contacts/" },
];
---

<aside class="sidebar-root">
  <div class="profile-container">
    <a href="/" class="profile-link">
      <div class="profile-img-wrapper">
        <img src="/assets/img/20250712_056.jpg" alt="Jindřich" class="profile-img main-img" />
        <img src="/assets/img/20250712_055.jpg" alt="Jindřich" class="profile-img hover-img" />
      </div>
      <h1 class="profile-name">Jindřich Ochmann</h1>
      <p class="profile-description">Software Engineer</p>
    </a>

    <div class="social-icons-arc">
      <a href="https://github.com/j-ochmann" class="icon-gh"><i class="fa-brands fa-github"></i></a>
      <a href="https://www.linkedin.com/in/jindrich-ochmann" class="icon-li"><i class="fa-brands fa-linkedin"></i></a>
      <a href="https://www.instagram.com/jindrichochmann" class="icon-ig"><i class="fa-brands fa-instagram"></i></a>
      <a href="https://www.facebook.com/jindrich.ochmann" class="icon-fb"><i class="fa-brands fa-facebook"></i></a>
      <a href="https://www.youtube.com/@JindrichOchmann" class="icon-yt"><i class="fa-brands fa-youtube"></i></a>
    </div>

    <nav class="nav-links">
      <ul>
        {navLinks.map(link => (
          <li><a href={link.url}>{link.title}</a></li>
        ))}
      </ul>
    </nav>
  </div>
</aside>
