---
import NavBase from '../components/nav-base.ts';
---
<aside id="sidebar">
  <div class="profile-container">
    <a href="/" class="profile-link">
      <div class="profile-img-wrapper">
        <img src="/assets/img/20250712_056.jpg" alt="Jindřich" class="profile-img main-img" />
        <img src="/assets/img/20250712_055.jpg" alt="Jindřich" class="profile-img hover-img" />
      </div>
      <h1 class="profile-name">Jindřich Ochmann</h1>
      <p class="profile-description">Software Engineer</p>
    </a>
    
    <div class="social-icons-arc">
      <a href="https://github.com/j-ochmann" class="icon-gh"><i class="fa-brands fa-github"></i></a>
      <a href="https://www.linkedin.com/in/jind%C5%99ich-ochmann-5186967b" class="icon-li"><i class="fa-brands fa-linkedin"></i></a>
      <a href="https://www.instagram.com/jindrichochmann" class="icon-ig"><i class="fa-brands fa-instagram"></i></a>
    </div>
    
    <nav class="nav-links">
      <ul>
        <NavBase />
      </ul>
    </nav>
  </div>
</aside>