---
import { navLinks } from './NavBase';
import profileMain from '../assets/img/20250712_056.jpg';+
import profileHover from '../assets/img/20250712_055.jpg';
import '../assets/css/style.scss';
---

<aside class="sidebar">
  <div class="profile-container">
    <a href="/" class="profile-link">
      <img src={profileMain} alt="Jindřich" class="profile-img main-img" />
      <img src={profileHover} alt="Jindřich" class="profile-img hover-img" />
    </a>
    <h1 class="profile-name">Jindřich Ochmann</h1>
    <p class="profile-description">Software Engineer</p>

    <div class="social-icons">
      <a href="https://github.com/j-ochmann" class="github"><i class="fa-brands fa-github"></i></a>
      <a href="https://www.linkedin.com/in/jind%C5%99ich-ochmann-5186967b" class="linkedin"><i class="fa-brands fa-linkedin"></i></a>
      <a href="https://www.instagram.com/jindrichochmann" class="instagram"><i class="fa-brands fa-instagram"></i></a>
      <a href="https://www.facebook.com/jindrich.ochmann" class="facebook"><i class="fa-brands fa-facebook"></i></a>
      <a href="https://www.youtube.com/@JindrichOchmann" class="youtube"><i class="fa-brands fa-youtube"></i></a>
    </div>

    <nav class="nav-links">
      <ul>
        {navLinks.map(link => (
          <li><a href={link.url}>{link.title}</a></li>
        ))}
      </ul>
    </nav>
  </div>
</aside>
