---
import SocialIcons from "../components/icons/SocialIcons.astro";
---
<aside class="sidebar root-sidebar">
  <!-- ---------- PROFILE ---------- -->
  <div class="profile-container">
    <div class="profile-img-wrapper">
      <img src="/assets/img/20250712_056.jpg" alt="Hlavní foto" class="profile-img main-img" />
      <img src="/assets/img/20250712_055.jpg" alt="Hover foto" class="profile-img hover-img" />


    <!-- ---------- SOCIAL ICONS ARC ---------- -->
    <div class="social-icons-arc">
      <a href="https://github.com/j-ochmann" class="icon-gh" target="_blank" rel="noopener noreferrer">
        <svg viewBox="0 0 16 16">
          <use href="#icon-github" />
        </svg>
      </a>
      <a href="https://www.linkedin.com/in/jindrich-ochmann/" class="icon-li" target="_blank" rel="noopener noreferrer"></a>
      <a href="https://www.youtube.com/@JindrichOchmann" class="icon-yt" target="_blank" rel="noopener noreferrer"></a>
      <a href="https://www.instagram.com/jindrichochmann/" class="icon-ig" target="_blank" rel="noopener noreferrer"></a>
      <a href="https://www.facebook.com/jindrich.ochmann/" class="icon-fb" target="_blank" rel="noopener noreferrer"></a>
    </div>

    </div>

  </div>

  <!-- ---------- NAVIGATION ---------- -->
  <nav class="nav-links">
    <ul>
      <li><a href="/">Home</a></li>
      <li>
        <a href="/about">About</a>
        <ul>
          <li><a href="/about/team">Team</a></li>
          <li><a href="/about/contact">Contact</a></li>
        </ul>
      </li>
      <li><a href="/projects">Projects</a></li>
      <li><a href="/blog">Blog</a></li>
    </ul>
  </nav>
</aside>