---

---
<aside class="sidebar root-sidebar">
  <!-- ---------- PROFILE ---------- -->
  <div class="profile-container">
    <div class="profile-img-wrapper">
      <img src="/assets/img/20250712_056.jpg" alt="Hlavní foto" class="profile-img main-img" />
      <img src="/assets/img/20250712_055.jpg" alt="Hover foto" class="profile-img hover-img" />
      <!-- ---------- NAME CIRCLE ---------- -->
      <div class="name-circle">
        <svg viewBox="0 0 200 200">
          <path id="circlePath" d="M 20, 100 A 80, 80 0 1, 1 180, 100" fill="transparent" />
          <text>
            <textPath href="#circlePath" startOffset="50%" text-anchor="middle">
              Jindřich Ochmann
            </textPath>
          </text>
        </svg>
      </div>

      <!-- ---------- SOCIAL ICONS ARC ---------- -->
      <div class="social-icons-arc">
        <a href="https://github.com/j-ochmann"
           class="icon-github">
          <svg><use xlink:href="#icon-github"></use></svg>
        </a>
        <a href="https://www.linkedin.com/in/jindrich-ochmann"
           class="icon-linkedin">
          <svg><use xlink:href="#icon-linkedin"></use></svg>
        </a>
        <a href="https://www.instagram.com/jindrichochmann" class="icon-instagram">
          <svg><use xlink:href="#icon-instagram"></use></svg>
        </a>
        <a href="https://www.facebook.com/jindrich.ochmann" class="icon-facebook">
          <svg><use xlink:href="#icon-facebook"></use></svg>
        </a>
        <a href="https://www.youtube.com/@JindrichOchmann" class="icon-youtube">
          <svg><use xlink:href="#icon-youtube"></use></svg>
        </a>
        <a href="https://wa.me/420792353539" class="icon-whatsapp">
          <svg><use xlink:href="#icon-whatsapp"></use></svg>
        </a>
        <a href="mailto:jindrich.ochmann@gmail.com" class="icon-email">
          <svg><use xlink:href="#icon-email"></use></svg>
        </a>
      </div>
      
    </div>
  </div>

  <!-- ---------- NAVIGATION ---------- -->
  <nav class="nav-links">
    <ul>
      <li><a href="/">Home</a></li>
      <li>
        <a href="/about">About</a>
        <ul>
          <li><a href="/about/team">Team</a></li>
          <li><a href="/about/contact">Contact</a></li>
        </ul>
      </li>
      <li><a href="/projects">Projects</a></li>
      <li><a href="/blog">Blog</a></li>
    </ul>
  </nav>
</aside>