---
---

<script>
  import "@/scripts/fly-away.js";
</script>
<!-- ---------- NAME CIRCLE ---------- -->
<div class="name-circle">
  <svg viewBox="0 0 200 200">
    <path id="circlePath" d="M 20, 100 A 80, 80 0 1, 1 180, 100" fill="transparent" />
    <text>
      <textPath href="#circlePath" startOffset="50%" text-anchor="middle">
        Jindřich Ochmann
      </textPath>
    </text>
  </svg>
</div>
<div class="social-icons">
  <a href="https://github.com/j-ochmann"
      class="icon-github"
      aria-label="GitHub profil">
    <svg><use href="#icon-github"></use></svg>
  </a>
  <a href="https://www.linkedin.com/in/jindrich-ochmann"
      class="icon-linkedin"
      aria-label="LinkedIn profil">
    <svg><use href="#icon-linkedin"></use></svg>
  </a>
  <a href="https://www.instagram.com/jindrichochmann" class="icon-instagram" aria-label="Instagram profil">
    <svg><use href="#icon-instagram"></use></svg>
  </a>
  <a href="https://www.facebook.com/jindrich.ochmann" class="icon-facebook" aria-label="Facebook profil">
    <svg><use href="#icon-facebook"></use></svg>
  </a>
  <a href="https://www.youtube.com/@JindrichOchmann" class="icon-youtube" aria-label="YouTube kanál">
    <svg><use href="#icon-youtube"></use></svg>
  </a>
  <a href="https://wa.me/420792353539" class="icon-whatsapp" aria-label="WhatsApp">
    <svg><use href="#icon-whatsapp"></use></svg>
  </a>
  <a href="mailto:jindrich.ochmann@gmail.com" class="icon-email" aria-label="Napsat e-mail">
    <svg><use href="#icon-email"></use></svg>
  </a>
</div>
<!-- ---------- ACTIONS ICONS ---------- -->
<div class="action-icons">
  <a href="" class="icon-settings">
    <svg><use href="#icon-settings"></use></svg>
  </a>
  <a href="" class="icon-login">
    <svg><use href="#icon-login"></use></svg>
  </a>
</div>