---
import Search from '@astrojs/starlight/components/Search.astro';
import ThemeSelect from '@astrojs/starlight/components/ThemeSelect.astro';
import LanguageSelect from '@astrojs/starlight/components/LanguageSelect.astro';
import Searchbar from '../Searchbar.astro';
import Icons from '../icons/icons.astro';
import DefaultSidebar from '@astrojs/starlight/components/Sidebar.astro';
import mainImage from '@/assets/img/me/20250712_056.jpg?url';
import hoverImage from '@/assets/img/me/20250712_055.jpg?url';
import { getRelativeLocaleUrl } from 'astro:i18n';
const lang = Astro.currentLocale || 'en';
const aboutLink = getRelativeLocaleUrl(lang, 'about');
---
<script>
  import "../../scripts/fly-away.js";
</script>

<Icons />
<!-- ---------- PROFILE ---------- -->
<div class="circular-menu-wrapper">
  <div class="circular-menu">
    <a href={aboutLink} aria-label="About page">
      <img src={mainImage} alt="Jindrich Ochmann, a software engineer, smiling at the camera in a professional portrait setting with a neutral background, conveying approachability and professionalism" class="profile-img main-img" />
      <img src={hoverImage} alt="Jindrich Ochmann, a software engineer, in a professional portrait setting with a neutral background, conveying approachability and professionalism in an alternative pose" class="profile-img hover-img" />
    </a>
    <!-- ---------- NAME CIRCLE ---------- -->
    <div class="name-circle">
      <svg viewBox="0 0 200 200">
        <path id="circlePath" d="M 20, 100 A 80, 80 0 1, 1 180, 100" fill="transparent" />
        <text>
          <textPath href="#circlePath" startOffset="50%" text-anchor="middle">
            Jindřich Ochmann
          </textPath>
        </text>
      </svg>
    </div>
    <!-- ---------- SOCIAL ICONS ---------- -->
    <div class="social-icons">
      <a href="https://github.com/j-ochmann"
          class="icon-github">
        <svg><use href="#icon-github"></use></svg>
      </a>
      <a href="https://www.linkedin.com/in/jindrich-ochmann"
          class="icon-linkedin">
        <svg><use href="#icon-linkedin"></use></svg>
      </a>
      <a href="https://www.instagram.com/jindrichochmann" class="icon-instagram">
        <svg><use href="#icon-instagram"></use></svg>
      </a>
      <a href="https://www.facebook.com/jindrich.ochmann" class="icon-facebook">
        <svg><use href="#icon-facebook"></use></svg>
      </a>
      <a href="https://www.youtube.com/@JindrichOchmann" class="icon-youtube">
        <svg><use href="#icon-youtube"></use></svg>
      </a>
      <a href="https://wa.me/420792353539" class="icon-whatsapp">
        <svg><use href="#icon-whatsapp"></use></svg>
      </a>
      <a href="mailto:jindrich.ochmann@gmail.com" class="icon-email">
        <svg><use href="#icon-email"></use></svg>
      </a>
    </div>
    <!-- ---------- ACTIONS ICONS ---------- -->
    <div class="action-icons">
      <a href="" class="icon-settings">
        <svg><use href="#icon-settings"></use></svg>
      </a>
      <a href="" class="icon-login">
        <svg><use href="#icon-login"></use></svg>
      </a>
    </div>
  </div>
</div>

<div class="wrapper">
  <Searchbar />
  <Search />
  <ThemeSelect />
  <LanguageSelect />
  <DefaultSidebar {...Astro.props} />
</div>