---
const { sidebarType = "default" } = Astro.props;
---
<html lang="cs">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{Astro.props.title || "Jindřich Ochmann"}</title>
  </head>
  <body>
    {sidebarType === "root" && <SidebarRoot />}
    {sidebarType === "default" && <SidebarDefault />}
    
    <main class="content">
      {Astro.children}
    </main>
  </body>
</html>