---
import "../assets/css/style.scss";
import Icons from "../components/icons/icons.astro";
---

<html lang="cs">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Jindřich Ochmann</title>
  </head>
  <body>
    <Icons />
    <slot />
  </body>
</html>
