---
// src/pages/dev/layout-tutorial.astro
import TutorialLayout from '../../layouts/TutorialLayout.astro';
---
<TutorialLayout title="Výukový Program pro Layout">
    <h2>Vítejte!</h2>
    <p>Toto je obsah mé první stránky, která používá Astro layout.</p>
    <p>Veškerý tento text a značky jsou vloženy na místo <code>&lt;slot /&gt;</code> v souboru <code>TutorialLayout.astro</code>.</p>
    <p>Díky tomu má tato stránka konzistentní vzhled, aniž bychom museli kopírovat HTML hlavičku a základní strukturu.</p>
</TutorialLayout>
